*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #F9F9F9;
    font-family: 'Poppins', sans-serif;
}


/* container  */

.container{
    max-width: 1440px;
    margin: 0 auto;
}


/* header  */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 84px;
    margin-bottom: 10px;
}



.header-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}


.header-nav a{
    color: black;
    font-size: 14px;
    font-weight: 700;
    transition: .3s;
    padding: 8px 25px;
    border-radius: 40px;
}


.header-nav a:hover{
    background-color: #4CE0D7;
    transform: scale(1.1);
}


.header-nav img{
    transition: .3s;
    cursor: pointer;
}


.logo img{
    transition: .3s;
}


.logo img:hover{
    transform: scale(1.1);
}


.header-nav img:hover{
    transform: scale(1.1);
}







/* first section  */

.first-section {
    padding: 0 84px;
    margin-bottom: 73px;
}


.background{
    background: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 218px 0 145px 53px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.background h3{
    font-size: 12px;
    font-weight: 700;
    color: white;
}


.background h1{
    font-size: 46px;
    font-weight: 400;
    color: white;
}


.background span{
    font-weight: 700;
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.background p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    max-width: 495px;
}





/* topics  */

.topics-section{
    padding: 0 84px;
    margin-bottom: 87px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}



.topic-card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    width: max-content;
    padding: 51px 29px 29px 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.topic-card:hover{
    transform: translateY(-10px);
}

    .topic-card-image{
        width: 103px;
        height: 103px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }


.topic-card h1{
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 33px;
}

.topics-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    
}

.topic-card button {
    font-size: 12px;
    font-weight: 700;
    background-color: #4CE0D7;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
    cursor: pointer;
    transition: .3s;
}


.topic-card:hover  button{
    box-shadow: 3px 3px 3px black;
    color: #4CE0D7;
    background-color: white;
}


.lane{
    margin-bottom: 52px;
    padding: 0 84px;
}




/* last section  */

.last-section{
    margin-bottom: 69px;
    padding: 0 118px;
}

.last-section-card{
    display: flex;
    gap: 46px;
    background-color: gray;
    box-shadow: 0px 6px 6px 0px #0000000D;
    border-radius: 20px;
    background-color: white;
}

.last-section-card-texts{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 31px;
    gap: 32px;
    padding-right: 58px;
}

.last-section-card-text1{
    display: flex;
    align-items: center;
    gap: 17px;
}


.p{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.p p {
    color: #BCBCBC;
    font-size: 14px;

}

.last-section-card-image{
    padding: 25px 304px 337px 34px;
    border-radius: 20px;
}

.last-section-card-text2{
    display: flex;
    flex-direction: column;
    gap: 33px;
}


.last-section-card-text2 h1{
    font-size: 26px;
    font-weight: 700;
    max-width: 500px;
}

.last-section-card-text2 p{
    font-size: 16px;
    font-weight: 400;
    max-width: 450px;
}

.last-section-card-image a{
    font-size: 12px;
    font-weight: 700;
    color: white;
    background-color: #262626;
    padding: 9px 51px;
    border-radius: 40px;
}


.last-section-arrow a{
    display: flex;
    gap: 26px;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #4CE0D7;
}

.last-section-cards{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.last-section-card1{
    background: url(./assets/fashionCard1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.last-section-card2{
    background: url(./assets/fashionCard2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.last-section-card3{
    background: url(./assets/fashionCard3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}